model-am/src/main/resources/org/openehr/xsd/am/Archetype.xsd

<?xml version="1.0" encoding="utf-8"?><!--
  ~ ADL2-core
  ~ Copyright (c) 2013-2014 Marand d.o.o. (www.marand.com)
  ~
  ~ This file is part of ADL2-core.
  ~
  ~ ADL2-core is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- openEHR Release 1.0.2 Archetype  XML schema --><!-- Authored by Ocean Informatics 2008.12.22  -->
<xs:schema xmlns="http://schemas.openehr.org/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.openehr.org/v1" elementFormDefault="qualified" version="1.0.2"
           id="Archetype.xsd">
    <xs:include schemaLocation="../rm/Resource.xsd"/>

    <xs:element name="archetype" type="ARCHETYPE"/>
    <xs:complexType name="ARCHETYPE">
        <xs:complexContent>
            <xs:extension base="AUTHORED_RESOURCE">
                <xs:sequence>
                    <xs:element name="archetype_id" type="ARCHETYPE_ID"/>
                    <xs:element name="is_differential" type="xs:boolean" minOccurs="1"/>
                    <xs:element name="concept" type="xs:string"/>
                    <xs:element name="parent_archetype_id" type="ARCHETYPE_ID" minOccurs="0"/>
                    <xs:element name="definition" type="C_COMPLEX_OBJECT"/>
                    <xs:element name="invariants" type="ASSERTION" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="terminology" type="ARCHETYPE_TERMINOLOGY"/>
                    <xs:element name="is_template" type="xs:boolean"/>
                    <xs:element name="is_overlay" type="xs:boolean"/>

                    <!-- should actually be in AUTHORED_ARCHETYPE, but whatever.
                    AUTHORED_ARCHETYPE, extends both ARCHETYPE and AUTHORED_RESOURCE, which is impossible to  do
                    in java, so don't bother -->
                    <xs:element name="adl_version" type="xs:string" minOccurs="0"/>
                    <xs:element name="build_uid" type="HIER_OBJECT_ID" minOccurs="0"/>
                    <xs:element name="rm_release" type="xs:string" minOccurs="1"/>
                    <xs:element name="is_generated" type="xs:boolean" minOccurs="1"/>
                    <xs:element name="other_metadata" type="StringDictionaryItem" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ARCHETYPE_CONSTRAINT" abstract="true">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="SIBLING_ORDER">
        <xs:sequence>
            <xs:element name="is_before" type="xs:boolean"/>
            <xs:element name="sibling_node_id" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="C_OBJECT" abstract="true">
        <xs:complexContent>
            <xs:extension base="ARCHETYPE_CONSTRAINT">
                <xs:sequence>
                    <xs:element name="rm_type_name" type="xs:string"/>
                    <xs:element name="occurrences" type="MultiplicityInterval"/>
                    <xs:element name="node_id" type="xs:string"/>
                    <xs:element name="sibling_order" type="SIBLING_ORDER" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_ATTRIBUTE">
        <xs:complexContent>
            <xs:extension base="ARCHETYPE_CONSTRAINT">
                <xs:sequence>
                    <xs:element name="rm_attribute_name" type="xs:string"/>
                    <xs:element name="existence" type="MultiplicityInterval"/>
                    <xs:element name="differential_path" type="xs:string" minOccurs="0"/>
                    <xs:element name="is_multiple" type="xs:boolean"/>
                    <xs:element name="children" type="C_OBJECT" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="cardinality" type="CARDINALITY"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CARDINALITY">
        <xs:sequence>
            <xs:element name="is_ordered" type="xs:boolean"/>
            <xs:element name="is_unique" type="xs:boolean"/>
            <xs:element name="interval" type="MultiplicityInterval"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="C_COMPLEX_OBJECT">
        <xs:complexContent>
            <xs:extension base="C_DEFINED_OBJECT">
                <xs:sequence>
                    <xs:element name="attributes" type="C_ATTRIBUTE" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="attribute_tuples" type="C_ATTRIBUTE_TUPLE" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ARCHETYPE_SLOT">
        <xs:complexContent>
            <xs:extension base="C_OBJECT">
                <xs:sequence>
                    <xs:element name="includes" type="ASSERTION" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="excludes" type="ASSERTION" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="is_closed" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CONSTRAINT_REF">
        <xs:complexContent>
            <xs:extension base="C_OBJECT">
                <xs:sequence>
                    <xs:element name="reference" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_DEFINED_OBJECT">
        <xs:complexContent>
            <xs:extension base="C_OBJECT">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_PRIMITIVE_OBJECT">
        <xs:complexContent>
            <xs:extension base="C_DEFINED_OBJECT">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_DOMAIN_TYPE" abstract="true">
        <xs:complexContent>
            <xs:extension base="C_DEFINED_OBJECT">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ARCHETYPE_INTERNAL_REF">
        <xs:complexContent>
            <xs:extension base="C_OBJECT">
                <xs:sequence>
                    <xs:element name="target_path" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ASSERTION">
        <xs:sequence>
            <xs:element name="tag" type="xs:string" minOccurs="0"/>
            <xs:element name="string_expression" type="xs:string" minOccurs="0"/>
            <xs:element name="expression" type="EXPR_ITEM"/>
            <xs:element name="variables" type="ASSERTION_VARIABLE" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EXPR_ITEM" abstract="true">
        <xs:sequence>
            <xs:element name="type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ASSERTION_VARIABLE">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="definition" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EXPR_LEAF">
        <xs:complexContent>
            <xs:extension base="EXPR_ITEM">
                <xs:sequence>
                    <xs:element name="item" type="xs:anyType"/>
                    <xs:element name="reference_type" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EXPR_OPERATOR" abstract="true">
        <xs:complexContent>
            <xs:extension base="EXPR_ITEM">
                <xs:sequence>
                    <xs:element name="operator" type="OPERATOR_KIND"/>
                    <xs:element name="precedence_overridden" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EXPR_UNARY_OPERATOR">
        <xs:complexContent>
            <xs:extension base="EXPR_OPERATOR">
                <xs:sequence>
                    <xs:element name="operand" type="EXPR_ITEM"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EXPR_BINARY_OPERATOR">
        <xs:complexContent>
            <xs:extension base="EXPR_OPERATOR">
                <xs:sequence>
                    <xs:element name="left_operand" type="EXPR_ITEM"/>
                    <xs:element name="right_operand" type="EXPR_ITEM"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="OPERATOR_KIND">
        <xs:restriction base="xs:string">
            <xs:enumeration value="eq" id="equal"/>
            <xs:enumeration value="ne" id="not_equal"/>
            <xs:enumeration value="le" id="less_than_or_equal"/>
            <xs:enumeration value="lt" id="less_than"/>
            <xs:enumeration value="ge" id="greater_than_or_equal"/>
            <xs:enumeration value="gt" id="greater_than"/>
            <xs:enumeration value="matches" id="matches"/>
            <xs:enumeration value="not" id="not"/>
            <xs:enumeration value="and" id="and"/>
            <xs:enumeration value="or" id="or"/>
            <xs:enumeration value="xor" id="xor"/>
            <xs:enumeration value="implies" id="implies"/>
            <xs:enumeration value="for_all" id="for_all"/>
            <xs:enumeration value="exists" id="exists"/>
            <xs:enumeration value="plus" id="plus"/>
            <xs:enumeration value="minus" id="minus"/>
            <xs:enumeration value="multiply" id="multiply"/>
            <xs:enumeration value="divide" id="divide"/>
            <xs:enumeration value="exp" id="exponent"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VALIDITY_KIND">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="1001" id="mandatory"/>
            <xs:enumeration value="1002" id="optional"/>
            <xs:enumeration value="1003" id="disallowed"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- tuples -->
    <xs:complexType name="C_SECOND_ORDER" abstract="true">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="C_ATTRIBUTE_TUPLE">
        <xs:complexContent>
            <xs:extension base="C_SECOND_ORDER">
                <xs:sequence>
                    <xs:element name="members" type="C_ATTRIBUTE" maxOccurs="unbounded"/>
                    <xs:element name="children" type="C_OBJECT_TUPLE" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_OBJECT_TUPLE">
        <xs:complexContent>
            <xs:extension base="C_SECOND_ORDER">
                <xs:sequence>
                    <xs:element name="members" type="C_PRIMITIVE_OBJECT" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <!-- primitives -->

    <xs:complexType name="C_BOOLEAN">
        <xs:complexContent>
            <xs:extension base="C_PRIMITIVE_OBJECT">
                <xs:sequence>
                    <xs:element name="constraint" type="xs:boolean" maxOccurs="unbounded"/>
                    <xs:element name="assumed_value" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="default_value" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_STRING">
        <xs:complexContent>
            <xs:extension base="C_PRIMITIVE_OBJECT">
                <xs:sequence>
                    <xs:element name="pattern" type="xs:string" minOccurs="0"/>
                    <xs:element name="constraint" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="list_open" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="assumed_value" type="xs:string" minOccurs="0"/>
                    <xs:element name="default_value" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_INTEGER">
        <xs:complexContent>
            <xs:extension base="C_PRIMITIVE_OBJECT">
                <xs:sequence>
                    <xs:element name="constraint" type="IntervalOfInteger" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="assumed_value" type="xs:int" minOccurs="0"/>
                    <xs:element name="default_value" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_REAL">
        <xs:complexContent>
            <xs:extension base="C_PRIMITIVE_OBJECT">
                <xs:sequence>
                    <xs:element name="constraint" type="IntervalOfReal" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="assumed_value" type="xs:float" minOccurs="0"/>
                    <xs:element name="default_value" type="xs:float" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_TEMPORAL">
        <xs:complexContent>
            <xs:extension base="C_PRIMITIVE_OBJECT">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_DATE">
        <xs:complexContent>
            <xs:extension base="C_TEMPORAL">
                <xs:sequence>
                    <xs:element name="pattern_constraint" type="DateConstraintPattern" minOccurs="0"/>
                    <xs:element name="timezone_validity" type="VALIDITY_KIND" minOccurs="0"/>
                    <xs:element name="constraint" type="IntervalOfDate" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="assumed_value" type="Iso8601Date" minOccurs="0"/>
                    <xs:element name="default_value" type="Iso8601Date" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="C_TERMINOLOGY_CODE">
        <xs:complexContent>
            <xs:extension base="C_PRIMITIVE_OBJECT">
                <xs:sequence>
                    <xs:element name="constraint" type="xs:string"/>
                    <xs:element name="assumed_value" type="TERMINOLOGY_CODE" minOccurs="0"/>
                    <xs:element name="default_value" type="TERMINOLOGY_CODE" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="DateConstraintPattern">
        <xs:restriction base="xs:string">
            <xs:pattern value="[yY][yY][yY][yY]-[mM?X][mM?X]-[dD?X][dD?X]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="C_DATE_TIME">
        <xs:complexContent>
            <xs:extension base="C_TEMPORAL">
                <xs:sequence>
                    <xs:element name="pattern_constraint" type="DateTimeConstraintPattern" minOccurs="0"/>
                    <xs:element name="timezone_validity" type="VALIDITY_KIND" minOccurs="0"/>
                    <xs:element name="constraint" type="IntervalOfDateTime" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="assumed_value" type="Iso8601DateTime" minOccurs="0"/>
                    <xs:element name="default_value" type="Iso8601DateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="DateTimeConstraintPattern">
        <xs:restriction base="xs:string">
            <xs:pattern value="[yY][yY][yY][yY]-[mM?][mM?]-[dD?X][dD?X][T][hH?X][hH?X]:[mM?X][mM?X]:[sS?X][sS?X]"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="C_TIME">
        <xs:complexContent>
            <xs:extension base="C_TEMPORAL">
                <xs:sequence>
                    <xs:element name="pattern_constraint" type="TimeConstraintPattern" minOccurs="0"/>
                    <xs:element name="timezone_validity" type="VALIDITY_KIND" minOccurs="0"/>
                    <xs:element name="constraint" type="IntervalOfTime" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="assumed_value" type="Iso8601Time" minOccurs="0"/>
                    <xs:element name="default_value" type="Iso8601Time" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="TimeConstraintPattern">
        <xs:restriction base="xs:string">
            <xs:pattern value="[hH][hH]:[mM?X][mM?X]:[sS?X][sS?X]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="C_DURATION">
        <xs:complexContent>
            <xs:extension base="C_TEMPORAL">
                <xs:sequence>
                    <xs:element name="pattern_constraint" type="DurationConstraintPattern" minOccurs="0"/>
                    <xs:element name="constraint" type="IntervalOfDuration" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="assumed_value" type="Iso8601Duration" minOccurs="0"/>
                    <xs:element name="default_value" type="Iso8601Duration" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="DurationConstraintPattern">
        <xs:restriction base="xs:string">
            <xs:pattern value="(P[yY]?[mM]?[wW]?[dD]?T[hH]?[mM]?[sS]?)|(P[yY]?[mM]?[wW]?[dD]?)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ARCHETYPE_TERMINOLOGY">
        <xs:sequence>
            <xs:element name="term_definitions" type="CodeDefinitionSet" maxOccurs="unbounded"/>
            <xs:element name="constraint_definitions" type="CodeDefinitionSet" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="term_bindings" type="TermBindingSet" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="constraint_bindings" type="ConstraintBindingSet" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="terminology_extracts" type="CodeDefinitionSet" maxOccurs="unbounded"/>
            <xs:element name="value_sets" type="VALUE_SET_ITEM" maxOccurs="unbounded"/>

        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CodeDefinitionSet">
        <xs:sequence>
            <xs:element name="items" type="ARCHETYPE_TERM" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="language" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ARCHETYPE_TERM">
        <xs:sequence>
            <xs:element name="items" type="StringDictionaryItem" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="code" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="TermBindingSet">
        <xs:sequence>
            <xs:element name="items" type="TERM_BINDING_ITEM" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="terminology" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="TERM_BINDING_ITEM">
        <xs:sequence>
            <xs:element name="value" type="xs:anyURI"/>
        </xs:sequence>
        <xs:attribute name="code" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ConstraintBindingSet">
        <xs:sequence>
            <xs:element name="items" type="CONSTRAINT_BINDING_ITEM" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="terminology" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="CONSTRAINT_BINDING_ITEM">
        <xs:sequence>
            <xs:element name="value" type="xs:anyURI"/>
        </xs:sequence>
        <xs:attribute name="code" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="VALUE_SET_ITEM">
        <xs:sequence>
            <xs:element name="members" type="xs:anyURI" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>
